<div>
    <p data-mce-fragment="1">We value your personal information's privacy and security and put great effort into protecting them. We developed this comprehensive privacy policy to describe how we collect, use, store, and secure your information.</p>
    <p data-mce-fragment="1">You are accepting and agreeing to the practices defined in this Policy by opting into our website’s terms.</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Type of Information We Hold</strong></h2>
    <br>We may collect Personal Data about you, including:<br>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Information that you provide to us, including:</li>
    <li data-mce-fragment="1">Your name</li>
    <li data-mce-fragment="1">Shipping address</li>
    <li data-mce-fragment="1">Billing address</li>
    <li data-mce-fragment="1">Any feedback you may want to give to us</li>
    <li data-mce-fragment="1">Email address</li>
    <li data-mce-fragment="1">Contact number</li>
    <li data-mce-fragment="1">Date of birth</li>
    <li data-mce-fragment="1">The way you will make your payment</li>
    <li data-mce-fragment="1">Bank details</li>
</ul>
    <p data-mce-fragment="1">Information associated with the products you ordered for</p>
    <p data-mce-fragment="1">Information about your device (computer, laptop, or smartphone), including IP Address, make of device and browser used</p>

    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Use of Your Information</strong></h2>
    <p data-mce-fragment="1">We may use your personal data for the following purposes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Fulfilling the orders you requested and paying for.</li>
    <li data-mce-fragment="1">Receiving payment for the order from you or issuing a refund upon your request.</li>
    <li data-mce-fragment="1">Providing discounts on orders or products you ordered.</li>
    <li data-mce-fragment="1">Preventing fraud by ensuring that our customers are genuine.</li>
    <li data-mce-fragment="1">Doing market research on our own or through reputable third-party agencies</li>
    <li data-mce-fragment="1">Conducting marketing &amp; statistical analysis.</li>
    <li data-mce-fragment="1">Finding ways to bring improvement to our services, enhance customer experience, upgrade website.</li>
    <li data-mce-fragment="1">Contacting you about services or orders via the contact details you provided earlier.</li>
    <li data-mce-fragment="1">Sending promotional materials, like advertising, new product launch information, etc.</li>
    <li data-mce-fragment="1">Monitoring and recording communications with you, such as phone conversations and emails, to maintain our service quality.</li>
    </ul>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Information Sharing&nbsp;</strong></h2>
    <p data-mce-fragment="1">We may share your information with the following third-party entities we work with:</p>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Our Service Providers: We work with service providers that process information for us and do this when they meet our data security processing standards.</li>
    <li data-mce-fragment="1">Marketing Agencies: We work with third-party marketing agencies to improve our digital marketing area. These agencies analyse the customer data and enable us to better understand our target audience in terms of their needs and preferences</li>
    <li data-mce-fragment="1">Other Organisations: We work with many other organisations, like law and enforcement agencies, and we may transfer your personal information to them in certain situations, for example, when the law requires us under any relevant law or code of practise to transfer data to exercise or protect legal rights we have or our users, systems, and services.</li>
    </ul>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Information Protection</strong></h2>
    <p data-mce-fragment="1">We protect your Personal Data by taking strict security measures.</p>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">We protect your information during transmission by using Secure Sockets Layer (SSL) software, encrypting the information you input.</li>
    <li data-mce-fragment="1">Once you have confirmed your order, we show only the last five digits of your credit card numbers, and we transmit the credit card details to only reputable credit card companies to process your orders.</li>
    <li data-mce-fragment="1">We collect, use, store, and disclose personally identifiable customer information by strictly maintaining physical, electronic, and procedural safeguards.</li>
    </ul>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Cookies Policy</strong></h2>
    <p data-mce-fragment="1">We do everything to provide our customers with easy, useful, and reliable services, and placing small amounts of information called “cookies” on your computer may involve this.</p>
    <p data-mce-fragment="1">Here are some types of cookies we may use on our Website:</p>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Essential cookies: These cookies are necessary for the <span data-mce-fragment="1">smooth functioning of the website, suggesting that you cannot disable these cookies.</span> These cookies help us <span data-mce-fragment="1">track your login status and remember your login information, language you use, font size, display preferences, and other actions and preferences.</span></li>
    </ul>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Performance cookies: <span data-mce-fragment="1">We may use these cookies because they help us collect information about your website usage, and that information enables </span>us to enhance <span data-mce-fragment="1">our website’s performance. This way, we’re able to maintain the seamless service delivery.</span></li>
    </ul>
    <ul data-mce-fragment="1">
    <li data-mce-fragment="1">Targeting cookies:&nbsp;These cookies help us track your internet usage patterns, enabling us to send you relevant promotional materials.</li>
    </ul>
    <p data-mce-fragment="1"><span data-mce-fragment="1">It’s your right to disable or turn off cookies on your browser, but this move may prevent you from accessing or utilizing some of the most beneficial website features or pages. You can manage cookies by getting instructions available in your browser settings. </span>&nbsp;</p>
    <p data-mce-fragment="1">If you have any queries about these or want more information, don't hesitate to contact our Data Protection Manager at&nbsp;Voodoo Cosmetics via email:&nbsp;<span data-mce-fragment="1"><a href="mailto:Info@voodoocosmetics.co.uk" data-mce-fragment="1" data-mce-href="mailto:Info@voodoocosmetics.co.uk">Info@voodoocosmetics.co.uk</a></span>.</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Your Rights</strong></h2>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Access and Correction of Your Personal Information</strong></h2>
    <p data-mce-fragment="1">You reserve the right to access your personal information we hold in many situations, and it is called “Subject Access Request.” We’re legally responsible for providing personal information to you or someone else on your behalf). Before doing this, we may confirm the genuineness of your account by asking for proof of identity. We may also ask for some solid information about your interactions with us.</p>
    <p data-mce-fragment="1">If any of the personal information you provided and allowed us to hold them is inaccurate or has some errors, you may ask us to correct it.</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Right To Stop or Limit Our Processing of Your Data</strong></h2>
    <p data-mce-fragment="1">You reserve the right to stop us from processing your personal information if we do not have the right or authority to use it anymore or to delete it. This situation occurs when we have been storing your information too long or have its processing restricted in certain circumstances.</p>
    <p data-mce-fragment="1">You can exercise these rights by contacting us via email.</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">How Long Do We Hold Your Information For</strong></h2>
    <p data-mce-fragment="1">We will store a record of your personal information, as this practice helps us provide you with better products and services. We will keep your information in accordance with the relevant laws and regulations and never store it for longer than is necessary.&nbsp;</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">Further Information</strong></h2>
    <p data-mce-fragment="1">We reserve the right to change, amend, or modify this Privacy Policy whenever needed, and informing you will not be our responsibility. You will be informed once we publish the revised version on the Website.&nbsp;</p>
    <p data-mce-fragment="1">You acknowledge that you will not be able to hold us liable to you or any third party for any change we made to this Privacy Policy. You will be responsible for checking this Privacy Policy regularly to determine the changes made to this Privacy Policy.</p>
    <h2 data-mce-fragment="1"><strong data-mce-fragment="1">You Can Update Your Personal Data:</strong></h2>
    <p data-mce-fragment="1">Email us at <span data-mce-fragment="1"><a href="mailto:Info@voodoocosmetics.co.uk" data-mce-fragment="1" data-mce-href="mailto:Info@voodoocosmetics.co.uk">Info@voodoocosmetics.co.uk</a></span></p>
    <p data-mce-fragment="1"><span data-mce-fragment="1">W</span>rite to us at 128 City Rd, London EC1V 2NX, UK</p>
    <p data-mce-fragment="1">LAST UPDATED:&nbsp;Friday, <span data-mce-fragment="1">August 23, 2024</span></p>
    </div>